[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
flask-discord = "*"
python-dotenv = "*"

[dev-packages]
pylint-runner = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python app/app.py"
