<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} {% endblock %}</title>

        <meta charset="UTF-8" />
        <meta name="title" content="Join TEC's Discord Server" />
        <meta name="description" content="Come hangout in Token Engineering Commons' Discord Server, introduce yourself and see what is happening in our working groups, join conversations and jump into any of our weekly calls." />
        <meta name="theme-color" content="#defb48"/>
    
        <meta property="og:title" content="Join TEC's Discord Server" />
        <meta property="og:description" content="Come hangout in Token Engineering Commons' Discord Server, introduce yourself and see what is happening in our working groups, join conversations and jump into any of our weekly calls." />
        <meta property="og:url" content="{{_link}}" />
        <meta property="og:image" content="https://github.com/CommonsBuild/tec-branding-assets/blob/main/Marketing/LinkedIn/Profile.png?raw=true" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="en_US" />
    
        <link href="../style.css" rel='stylesheet' type='text/css'>
        {% block scripts %} {% endblock %}
    </head>
    <body>
        <section class="intro">
            <div class="inner">
                <div class="content">
                    <h1>Token Engineering Commons</h1>
                    {% block content %} {% endblock %}
                </div>
            </div>
        </section>
    </body>
</html>
