<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link href="../static/style.css" rel='stylesheet' type='text/css'>
    <title>TEC - Advancing Token Engineering</title>
</head>
<body>
    <section class="intro">
        <div class="inner">
            <div class="content">
                <h1>Token Engineering Commons</h1>
                <h2>You have been added to the server! :)</h2>
                <p>
                    <a href="{{_link}}"><button type="submit">CONTINUE TO DISCORD</button></a>
                </p>
            </div>
        </div>
    </section>
</body>
</html>
