<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <title>Join TEC's discord</title>

  <meta charset="UTF-8" />
  <meta name="title" content="Join TEC's Discord Server" />
  <meta name="description" content="Come hangout in Token Engineering Commons' Discord Server, introduce yourself and see what is happening in our working groups, join conversations and jump into any of our weekly calls." />
  <meta name="theme-color" content="#defb48"/>
    
  <meta property="og:title" content="Join TEC's Discord Server" />
  <meta property="og:description" content="Come hangout in Token Engineering Commons' Discord Server, introduce yourself and see what is happening in our working groups, join conversations and jump into any of our weekly calls." />
  <meta property="og:url" content="{{_link}}" />
  <meta property="og:image" content="https://github.com/CommonsBuild/tec-branding-assets/blob/main/Marketing/LinkedIn/Profile.png?raw=true" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />
</head>
<style>
.glow {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #03B3FF, 0 0 20px #03B3FF;
}
.lime_bg {
  background-color: #defb48;
}
.lime_bg:hover {
  background_color: #fff;
}
</style>
  <body class="m-0 p-0 h-screen">
<div class="bg-cover h-screen" style="background-image: url(https://media.discordapp.net/attachments/778704923553693752/832176288240238592/Screenshot_2021-04-15_at_2.06.20_PM.png)">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:items-center lg:justify-between">
    <span class="text-6xl lg:text-9xl md:text-8xl font-bold tracking-light sm:text-7xl glow">
      Token Engineering Commons
    </span>
    <span class="block text-3xl font-light py-5 xl:py-6 2xl:py-7 text-white sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl">
      Join our Discord Server!
    </span>
    <div class="mt-8 flex">
      <div class="inline-flex rounded-none py-9 xl:py-10 2xl:py-13 shadow">
        <a
        href="#"
        class="uppercase px-10 py-3 sm:py-4 md:py-5 lg:py-6 xl:py-7 2xl:py-10 sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-6xl font-semibold text-black lime_bg">
          Log in to Discord
        </a>
      </div>
    </div>
  </div>
</div>
  </body>
</html>

