<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link href="../static/style.css" rel='stylesheet' type='text/css'>
    <title>TEC - Advancing Token Engineering</title>
</head>
<body>
    <section class="intro">
        <div class="inner">
            <div class="content">
                <h1>Token Engineering Commons</h1>
                <a href="{{_link}}"><button type="submit">LOG IN TO DISCORD</button></a>
            </div>
        </div>
    </section>
    <!--
    <div class="flex justify-center">
        <div class="max-w-xs rounded shadow-lg
        my-2 border-4" style="border-color: #d6ff00;">
        <img class="w-full border-2 border-white bg-black" src="https://cdn.discordapp.com/icons/776352494992883722/0000b679a3e5f283653a38e138a43f9b.webp?size=128" alt="TEC logo"/>
        <div class="px-6 py-4 text-center">
            <div class="font-bold text-xl mb-2">Token Engineering Commons</div>
            <p class="text-gray-700 text-base">Advancing Token Engineering<br>Click below to log in with discord.</p>
        </div>
        <div class="px-6 py-4 text-center">
            <a href="{{_link}}"><button type="submit" class="justify-center py-2 px-4 text-sm font-medium rounded-md text-white bg-gray-800 hover:bg-gray-900 focus:outline-none">Log in</button></a>
        </div>
        </div>
    </div>
    -->
</body>
</html>
